---
---

@import "{{ site.theme }}";
#header_wrap {
    background: -ms-linear-gradient(top, #373737, #212121);
    background: -o-linear-gradient(top, #373737, #212121);
    background: linear-gradient(to top, #0f8686, #384879);
}

#footer_wrap {
    background: #959da5;
}

body {
    color: #404040;
    background: #fff;
    }
