<div class="globalbanner">    
<a href="http://www.cam.ac.uk" class="campl-main-logo"><img alt="University of Cambridge" src="http://www.cam.ac.uk//profiles/cambridge/themes/cambridge_theme/images/interface/main-logo-small.png" width="148px"> </a>
      <ul class="campl-global-navigation">
        <li>
          <a href="https://libguides.cam.ac.uk/unlockinglibraries"><b>CUL</b> <i>Digital Preservation</i></a>
        </li>
      </ul>
</div>

<style>

.campl-main-logo {
    padding: 15px 0 15px 40px;
    display: block;
    float: left;
}


.campl-global-navigation {
    margin: 20px 0;
    float: right;
}


.globalbanner  ul {
list-style-type: none;
display:inline;
}

 .globalbanner li {
   display: inline;
}

.globalbanner li a {
    color: white;
    padding: 0 20px 0 10px;
    text-decoration: none;
    font-size: 15px;
}


.globalbanner{
 height:60px;
 background-color:#008051;
}


	</style>