<div class="globalbanner">    
  <ul class="campl-global-navigation">
        <li>
          <a href="digitalpreservation-docs.lib.cam.ac.uk"><b>CUL</b> <i>Digital Preservation</i></a>
        </li>
      </ul>
</div>

<style>

	.main-header{display: block}

.campl-main-logo {
    padding: 15px 0 15px 40px;
    display: block;
    float: left;
}


.campl-global-navigation {
    margin: 20px 0;
    float: left;
}


.globalbanner  ul {
list-style-type: none;
display:inline;
}

 .globalbanner li {
   display: inline;
}

.globalbanner li a {
    color: white;
    padding: 0 20px 0 10px;
    text-decoration: none;
    font-size: 15px;
}


.globalbanner{
 height:60px;
 background-color:#353B46;
 position: fixed;
}


	</style>
